<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>SRA Modal header</h3>
</div>
<div class="modal-body">
    <p><pre>2 + 3 = {{ 2 + 3 }}</pre></p>
    <p><pre>2 + 3 = {{ 2 + 3 }}</pre></p>
    <p><pre>2 + 3 = {{ 2 + 3 }}</pre></p>
    <p><pre>2 + 3 = {{ 2 + 3 }}</pre></p>
    <p><pre>2 + 3 = {{ 2 + 3 }}</pre></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="close('C')">I agree with these 5 statements</button>
    <button type="button" class="btn" ng-click="close('S')">I have a question</button>
</div>